@import "lib/darkly/variables.scss";
@import "bulma/sass/utilities/functions"; // Import this first to use findColorInvert() 

$body-overflow-y: auto;

$notification-padding-ltr: 0.8rem 1.5rem 0.8rem 1.5rem;

section.section {
    padding-bottom: 1.5rem;
}

button.setting-button {
    background-color: $grey-darker !important;
    color: white !important;
    display: block;
}

$orange-invert: findColorInvert($orange);

$custom-colors: (
    "orange": ($orange, $orange-invert)
);

/* Import only what you need from Bulma */
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";

$divider-margin-inner-size: 0px;
$divider-margin-size: 0px;

@import "@creativebulma/bulma-divider";

.divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.has-text-orange {
    color: $orange;
}

.has-text-warning {
    color: $yellow;
}

.has-text-primary {
    color: $turquoise;
}

.has-text-success {
    color: $green;
}

.has-text-danger {
    color: $red;
}

.has-text-white {
    color: $text;
}

.history {
    height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column-reverse;

    p {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

.no-hover {
    pointer-events: none;
}

div.faq-content {
    div>ul>li::marker {
        font-size: 1.5rem;
        color: $turquoise;
    }
}

section.background-image {
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $grey-darker;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $white-ter;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $white-ter;
}