@import "lib/darkly/variables.scss";

$body-overflow-y: auto;

$notification-padding-ltr: 0.8rem 1.5rem 0.8rem 1.5rem;

section.section {
    padding-bottom: 1.5rem;
}

/* Import only what you need from Bulma */
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";

$divider-margin-inner-size: 0px;
$divider-margin-size: 0px;

@import "@creativebulma/bulma-divider";

.divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.history {
    height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column-reverse;

    p {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

.no-hover {
    pointer-events: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $grey-darker;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $white-ter;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $white-ter;
}